include LICENSE
include README.md
include MANIFEST.in
recursive-include * Makefile
recursive-include * make.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include demo *
recursive-exclude * *.py[co]
recursive-exclude * __pycache__
